.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container h2 {
  margin-bottom: 0.4rem;
}

.container {
  margin: 1rem auto;
  padding: 0.9rem;
  height: auto;
  background-color: #fff;
  width: 500px;
  color: #212121;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.input-area {
  display: flex;
  align-items: center;
  margin: 1rem auto;
}

.input-area input {
  margin: 0.5rem;
  width: 27rem;
  background-color: #cfcfcf;
  border: 1px solid transparent;
  outline: none;
  padding: 0.3rem;
  border-radius: 3rem;
  transition: ease-in-out 0.2s;
}

.input-area input:hover {
  border: 1px solid #212121;
}

.contact-list {
  border-bottom: 1px solid #cfcfcf;
  padding: 5px 0;
}

.contact-list p:nth-child(3) {
  color: #919191;
}

.add-input {
  display: flex;
  align-items: center;
  justify-center: center;
  gap: 2rem ;
}

.add-input input {
  margin-top: 1rem;
  border: none;
  border-bottom: 1px solid #cfcfcf;
  outline: none;
  width: 11rem;
  background: none;
}

.add-input button {
  background-color: transparent;
  padding: 0.3rem;
  border: 1px solid transparent;
  margin: 0.1rem 0;
}


//input[type="number"]::-webkit-inner-spin-button, 
//input[type="number"]::-webkit-outer-spin-button {
//-webkit-appearance: none;}
